<!DOCTYPE html>
<html>
<head>
<style>
h1{text-align: center;}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}
</style>
</head>
<body>

<h1>Data</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>Weight </th>
    <th>Height</th>
    <th>Health Histroy</th>
  </tr>
  <tr>
    <td>Chitra</td>
    <td>Kampelli</td>
    <td>10-02-2000</td>
    <td>Female</td>
    <td>62 kg</td>
    <td>5'3 </td>
    <td> - </td>
  </tr>
  
   <tr>
     <td>Ram</td>
    <td>govinda</td>
    <td>10-02-1999</td>
    <td>male</td>
    <td>62 kg</td>
    <td>5'3 </td>
    <td> BP
  </tr>
  <tr>
     <td>Rama</td>
    <td>sontham</td>
    <td>12-02-2000</td>
    <td>Female</td>
    <td>60 kg</td>
    <td>5'1</td>
    <td> tb</td>
  </tr>
  <tr>
    <td>Chandana</td>
    <td>konda</td>
    <td>10-09-2001</td>
    <td>female</td>
    <td>65</td>
    <td> 5</td>
    <td> flu</td>
  </tr>

  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> 
  </tr>

  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> 
  </tr>

  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> 
  </tr>
</table>

</body>
</html>

