{% extends 'base.html' %}

{% block content %}

<style>
    .container {
        position: absolute;
        width: 100%;
        max-width: 400px; /* Adjust as needed */
    }

    .image {
        display: block;
        width: 100vw;
        height: 100vh;
    }

    .text {
        position: absolute;
        top: 40%;
        left: 100%;
        right: 100%;
        transform: translate(-50%, -50%);
        color: Black;
        font-size: 50px;
		text-align: center;
        white-space: nowrap;
        font-family: "Roboto";
        font-style: italic;
        
    }
</style>

	<div class="container">
		<img src="static/assets/img/medicine-blue-background-flat-lay.jpg" alt="Your Image" class="image">
		<div class="text">Securing Today Building Tomorrow</div>
	</div>


{% endblock %}       